html {
  background-color: WhiteSmoke;
  padding-left: 5px;
  padding-right: 5px;
}

body {
  text-align: justify;
}

img {
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
